/*This styles the table and table contents.*/
th, td {
  background-color: #61B34F;
  padding: 40pt;
  margin: 2px;
  color: #E6F0E6;
  border-radius: 10px;
}

td {
  cursor: pointer;
}

td:hover {
  background-color: #82C276;
}

/*This positions the text in each button.*/
html {
  text-align: center;
  font-size: 2em;
}

.operator {
  background-color: #82C276;
  color: #3C693C;
}

.operator:hover {
  color: #E6F0E6;
}

/*This positions and styles the title.*/
h1 {
 width: 400pt;
}
