
li{
margin: 2pt;
height: 120pt;
width: 120pt;
background-color: #7986cb;
/*padding-bottom: ;*/
position: relative;
display: inline-block;
box-sizing: border-box;
float: left;
z-index: 100;
border: 2pt solid black;
border-radius: 5px;
}

.answer_Space{
  width: 366pt;
}

#total_board{
   width: 500pt;

}
